<script src="https://kit.fontawesome.com/6f7963ec93.js" crossorigin="anonymous"></script>\
<div class="container">
    <div class="row" style="margin: 30px;">
        <div class="col">

        </div>
        <div class="col-6">
            <h2 class="text-center">Employee Database</h2>
        </div>
        <div class="col">
            <!-- <input class="form-control" type="text" placeholder="Search by Name" (keyup)="filterAppointments()" [(ngModel)] = "searchText">
            <ul *ngIf="filteredAppointments.length > 0 && searchText.length > 0" class="suggestion-list" style="list-style-type: none;">
                <li *ngFor="let suggestion of filteredAppointments; trackBy: trackByFn" style="margin: 10px;">
                  <a (click)="selectSuggestion(suggestion)">{{ suggestion.name }}</a>
                </li>
              </ul> -->
              <div class="search-container">
                <input
                  class="form-control search-input"
                  type="text"
                  placeholder="Search by Name"
                  (keyup)="filterAppointments()"
                  [(ngModel)]="searchText"
                />
                <ul
                  class="suggestion-list"
                  *ngIf="filteredAppointments.length > 0 && searchText.length > 0"
                  style="list-style-type: none; position: absolute; top: 100%; left: 0; z-index: 1; background-color: white; border: 1px solid #ddd; width: 100%;"
                >
                  <li *ngFor="let suggestion of filteredAppointments; trackBy: trackByFn" style="margin: 10px;">
                    <a (click)="selectSuggestion(suggestion)">{{ suggestion.name }}</a>
                  </li>
                </ul>
              </div>
              
              <table>
                <tbody>
                  <tr *ngFor="let appointment of appointments | search:searchText; trackBy: trackByFn; index as i">
                    <td style="width: 30%;">
                      <!-- <a class="btn btn-primary" style="margin-right: 10px;" (click)="editAppointment(i)">Edit Employee</a>
                      <a class="btn btn-danger" (click)="deleteAppointment(i)">Delete Employee</a> -->
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    <div class="card mt-3">
        <div class="row justify-content-center m-4">
            <div class="col-6">
                <div class="row">
                    <div class="col-12"> <!-- Use col-6 to make the width half -->
                        <label for="newName">Enter your Name</label>
                        <input class="form-control mb-2" [(ngModel)]= "newName" type="string" placeholder="Name">
                        <label for="gender">Gender</label>
                        <br>
                        <span *ngFor= "let gen of gender" style="padding-left: 10px;">
                
                            <input type="radio" id="{{gen.value}}" value="{{gen.value}}" name="gender" [(ngModel)]= "newGender">
                            <label for = "gen.value" [ngModel] = "newGender" >{{gen.value}}</label>
                        </span>
                        <br>
                        <br>

                        <label for="newEmail">Enter your Email</label>
                        <input type="email" class="form-control mb-2" [(ngModel)]="newEmail" placeholder="E-Mail ID">
                        <label for="number">Phone Number</label>
                        <input type="number" class="form-control mb-2" [(ngModel)]="newContact" placeholder="Phone No.">
                        <label for="newRole">Select Role</label>
                        <select [(ngModel)]="newRole" [(ngModel)]="newRole">
                            <option value="">None</option>
                            <option *ngFor="let dept of departments" value="{{dept.name}}">{{dept.name}}</option>
                            
                        </select>                        
                        <button (click)= "resetId()" type="reset" >Reset Role</button>
                        <br>
                        <br>
                        <!-- <p>{{deptID}}</p> -->
                        <!-- <input type="text" class="form-control mb-2" [(ngModel)]="newRole" placeholder="Enter your Role"> -->
                        <button type="submit" class="btn btn-primary" style="margin-left: 40%;" (click)="addAppointment()">Add Employee</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class = "text-center mt-5">Employee Details</h2>
    <div class = "card-body">
            <table datatable [dtOptions] ="dtoptions" class  = "table table-bordered">
                <thead class= "bg-dark text-white" style="font-size: large;">
                    <tr>
                        <td><b>ID</b></td>
                        <td><b>Name</b></td>
                        <td><b>Gender</b></td>
                        <td><b>Email</b></td>
                        <td><b>Phone Number</b></td>
                        <td><b>Role</b></td>
                        <td><b>Action</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let appointment of appointments | search :searchText ;index as i" >
                        <td>{{appointment.id}}</td>
                        <td>{{appointment.name}}</td>
                        <td>{{appointment.gender}}</td>
                        <td>{{appointment.email}}</td>
                        <td>{{appointment.contact}}</td>
                        <td>{{appointment.role}}</td>
                        <td style="width: 30%;">
    
                            <a class="btn btn-primary" style="margin-right: 10px;" (click)="editAppointment(i)">Edit Employee</a>  
                            <a class="btn btn-danger" (click)="deleteAppointment(i)">Delete Employee</a>  
                        </td>
                    </tr>
                </tbody>
             </table> 
             <mat-paginator [length]="appointments.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               [pageIndex]= "pageIndex">
            </mat-paginator>

    </div>
    
   
</div>

